<div class="container">
  <div class="row pt-5 pb-3">
    <div class="col">
      <h1>Word Shuffler</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-0">
        <div class="card-body">
          <h5 class="card-title">Original phrases</h5>
          <textarea class="form-control" (input)="updateOriginalPhrases($event)"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col">
      <div class="card border-0">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col px-0"><h5 class="card-title">Shuffled phrases</h5></div>
              <div class="col text-end px-0">
                <button
                  [disabled]="!(hasShuffeldPhrases$ | async)"
                  (click)="copyToClipboard()"
                  type="button"
                  class="btn btn-primary"
                >
                  Copy to clipboard
                </button>
              </div>
            </div>
          </div>
          <ul class="list-group mt-1">
            <li class="list-group-item" *ngFor="let shuffeldPhrase of shuffeldPhrases$ | async">
              {{ shuffeldPhrase }}
            </li>
            <li class="list-group-item" *ngIf="!(hasShuffeldPhrases$ | async)">No phrases to show</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
